In [1]:
import openpyxl

In [2]:
work_book = openpyxl.load_workbook('company_revenue.xlsx')

In [3]:
work_book.sheetnames

['revenue']

In [4]:
work_book.worksheets

In [5]:
sheet_obj = work_book['revenue']

In [6]:
sheet_obj.tables

{}

In [7]:
sheet_obj.title

'revenue'

In [8]:
sheet_obj['A1']

In [9]:
sheet_obj['A1'].value

'Company'

In [10]:
cell = sheet_obj['B1']

In [11]:
type(cell)

openpyxl.cell.cell.Cell

In [12]:
cell.row

1

In [13]:
cell.column

2

In [14]:
cell.column_letter

'B'

In [15]:
cell.col_idx

2

In [16]:
cell.number_format

'General'

In [17]:
cell.coordinate

'B1'

In [18]:
cell.data_type   # it returns s that denotes string

's'

In [19]:
cell.value

'Country'

In [20]:
sheet_obj['A2'].value +\
', based in ' + sheet_obj['B2'].value +\
'has a revenue of $'+\
str(sheet_obj['C2'].value)+\
' billion.'

'Walmart, based in United Stateshas a revenue of $514 billion.'

In [21]:
cell = sheet_obj['C2'].value

In [22]:
type(cell)

str

In [23]:
sheet_obj.cell(row = 1, column= 2)

In [24]:
sheet_obj.cell(row = 1, column= 2).value

'Country'

####  we can determine the maximum number of row and column that is available in our worksheet

In [25]:
sheet_obj.max_row

6

In [26]:
sheet_obj.max_column

3

### Print all the columns name

In [27]:
max_col = sheet_obj.max_column

In [28]:
for i in range(1, max_col + 1):
    cell_obj = sheet_obj.cell(row=1, column=i)
    print(cell_obj.value)

Company
Country
Revenue( billinon $)

### Print first column value

In [29]:
max_row = sheet_obj.max_row

In [30]:
for i in range(1, max_row+1):
    cell_obj = sheet_obj.cell(row =i, column= 1)
    print(cell_obj.value)

Company
Walmart
Apple
Microsoft
Trianz
Flipkart

## Getting rows and column values through slicing

In [31]:
sheet_obj['A1':'C2']

((<Cell 'revenue'.A1>, <Cell 'revenue'.B1>, <Cell 'revenue'.C1>),
 (<Cell 'revenue'.A2>, <Cell 'revenue'.B2>, <Cell 'revenue'.C2>))

In [32]:
for rows in sheet_obj['A1':'C2']:
    for cell in rows:
        print(cell.coordinate, cell.value)
        
    print("-"*15)

A1 Company
B1 Country
C1 Revenue( billinon $)
---------------
A2 Walmart
B2 United States
C2 514
---------------

### We can use `Worksheet.iter_rows()` or `Worksheet.iter_cols()` methos to access the values

In [33]:
for rows in sheet_obj.iter_rows(min_row=1,
                               max_row=2,
                               min_col=1,
                               max_col=3):
    print(rows)

(<Cell 'revenue'.A1>, <Cell 'revenue'.B1>, <Cell 'revenue'.C1>)
(<Cell 'revenue'.A2>, <Cell 'revenue'.B2>, <Cell 'revenue'.C2>)

In [34]:
for values in sheet_obj.iter_rows(min_row=1,
                               max_row=2,
                               min_col=1,
                               max_col=3,
                               values_only = True):          # values_only = True return on only value
    print(values)                            # with iter we get in tuple format

('Company', 'Country', 'Revenue( billinon $)')
('Walmart', 'United States', '514')

In [35]:
for column in sheet_obj.iter_cols(min_row=1,
                               max_row=3,
                               min_col=1,
                               max_col=3):
    print(column)

(<Cell 'revenue'.A1>, <Cell 'revenue'.A2>, <Cell 'revenue'.A3>)
(<Cell 'revenue'.B1>, <Cell 'revenue'.B2>, <Cell 'revenue'.B3>)
(<Cell 'revenue'.C1>, <Cell 'revenue'.C2>, <Cell 'revenue'.C3>)

In [36]:
for column in sheet_obj.iter_cols(min_row=1,
                               max_row=3,
                               min_col=1,
                               max_col=3,
                                 values_only = True):
    print(column)

('Company', 'Walmart', 'Apple')
('Country', 'United States', 'United States')
('Revenue( billinon $)', '514', '514')

In [37]:
import json

In [38]:
revenue  = {}

In [39]:
for rows in sheet_obj.iter_rows(min_row=2,
                               max_row=4,
                               min_col=1,
                               max_col=3,
                               values_only = True):
    res = rows[0]
    rev_details = {
        "Country" : rows[1],
        "Revenue" : rows[2]
    }
    revenue[res] = rev_details

In [40]:
print(json.dumps(revenue, indent=4, sort_keys= True))

{
    "Apple": {
        "Country": "United States",
        "Revenue": "514"
    },
    "Microsoft": {
        "Country": "United States",
        "Revenue": "514"
    },
    "Walmart": {
        "Country": "United States",
        "Revenue": "514"
    }
}

In [41]:
import openpyxl
work_book = openpyxl.Workbook()

In [42]:
ws = work_book.active

In [43]:
ws.title = 'NewSheet'

In [44]:
ws['A1'] = 'Hello'
ws['B2'] = 'World'

In [45]:
ws['A1'].value

'Hello'

In [46]:
work_book.save('brand_new_workbook.xlsx')

In [47]:
ws.calculate_dimension()

'A1:B2'

In [48]:
sheet_obj.calculate_dimension()

'A1:C6'

In [49]:
ws.append(['one', 'two'])

In [50]:
work_book.save('brand_new_workbook.xlsx')

In [51]:
ws.calculate_dimension()

'A1:B3'

In [52]:
ws.insert_rows(idx = 2, amount = 5)    # idx is position and amount number of rows

In [55]:
ws.insert_cols(idx = 1)

In [56]:
ws.calculate_dimension()

'B1:G8'

In [57]:
ws.delete_rows(idx= 2, amount= 1)

In [58]:
ws.calculate_dimension()

'A1:G7'

In [71]:
work_book.save('brand_new_workbook.xlsx')

In [67]:
work_book.active
ws_newsheet = work_book.create_sheet('newsheet')

In [70]:
ws_newsheet.title = 'newsheet'

In [72]:
data = [['planet','Radius', 'Distance from Sun (M Km)'],
        ['Earth', 6371, 150],
        ['Mars', 3389, 228],
        ['Mercury', 2440,58]]

In [73]:
planet_wb = openpyxl.Workbook()

In [74]:
planet_sheet = planet_wb['Sheet']

In [75]:
planet_sheet.title = 'Planets'  #this will change sheet name

In [76]:
for row in data:
    planet_sheet.append(row)

In [77]:
planet_sheet.calculate_dimension()

'A1:C4'

In [79]:
planet_wb.save('planets.xlsx')