In [1]:
import numpy as np
a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

0

In [2]:
A='1234567'
A[1::2]

'246'

In [4]:
Name="Michael Jackson"
Name.find('el')

5

In [5]:
 A=((11,12),[21,22])
A[1]

[21, 22]

In [6]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [7]:
A=[1,'a'] 
B=[2,1,'d']

A+B

[1, 'a', 2, 1, 'd']

In [10]:
a.set()

AttributeError: 'set' object has no attribute 'set'

In [14]:
V={'A','B','C'}
V.add('C')

In [15]:
V

{'A', 'B', 'C'}

In [17]:
A=['1','2','3']

for a in A:
    print(2*a)

11
22
33

In [18]:
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def print_point(self):
        print('x=',self.x,' y=',self.y)

In [19]:
p2=Points(1,2)

In [20]:
p2.x=2

p2.print_point()

x= 2  y= 2