In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
db = client["my_store"]
product_col = db["products"]

In [8]:
def print_cursor(cursor):
    for document in cursor:
        print(document)

# update()

In [9]:
product_col.update({"name": "mug"}, {"$set":{"name" : "book"}})

TypeError: 'Collection' object is not callable. If you meant to call the 'update' method on a 'Collection' object it is failing because no such method exists.

## upadte_one()

In [12]:
product_col.update_one({"name": "mug"}, {"$set":{"name" : "book"}})

In [39]:
product_cursor = product_col.find({'name':"book"} )

print(print_cursor(product_cursor))

{'_id': ObjectId('64351a57659d3d1eeeb6e4db'), 'name': 'book', 'price': 5}
{'_id': ObjectId('64351a74659d3d1eeeb6e4dc'), 'name': 'book', 'price': 5}
{'_id': ObjectId('64351a7a659d3d1eeeb6e4dd'), 'name': 'book', 'price': 5}
{'_id': ObjectId('64351aae659d3d1eeeb6e4de'), 'name': 'book', 'price': 5}
{'_id': ObjectId('64351acb659d3d1eeeb6e4df'), 'name': 'book', 'price': 5}
{'_id': ObjectId('64351acf659d3d1eeeb6e4e0'), 'name': 'book', 'price': 5}
{'_id': ObjectId('64351af9659d3d1eeeb6e4e1'), 'name': 'book', 'price': 5}
{'_id': ObjectId('64351b0d659d3d1eeeb6e4e2'), 'name': 'book', 'price': 5}
None

In [30]:
update_one_res = product_col.update_one({"name": "mug"}, {"$set":{"price" : "5"}})

In [31]:
print(update_one_res.acknowledged)
print(update_one_res.matched_count)
print(update_one_res.modified_count) 
print(update_one_res.raw_result)
print(update_one_res.upserted_id)

True
1
0
{'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}
None

### update_many()

In [17]:
product_col.update_many({"name": "mug"}, {"$set":{"name" : "book"}})

### replace_one() ----> replace everything

In [36]:
replace_one_res = product_col.replace_one({"name": "book"}, {"name" : "mug"})

In [38]:
product_cursor = product_col.find({'name':"mug"} )

print(print_cursor(product_cursor))

{'_id': ObjectId('643519e9659d3d1eeeb6e4d7'), 'name': 'mug', 'price': '5'}
{'_id': ObjectId('64351a0e659d3d1eeeb6e4d8'), 'name': 'mug'}
{'_id': ObjectId('64351a32659d3d1eeeb6e4d9'), 'name': 'mug'}
{'_id': ObjectId('64351a39659d3d1eeeb6e4da'), 'name': 'mug'}
None

In [37]:
print(replace_one_res.acknowledged)
print(replace_one_res.matched_count)
print(replace_one_res.modified_count) 
print(replace_one_res.raw_result)
print(replace_one_res.upserted_id)

True
1
1
{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}
None

### upserting --> update and insert in db

In [44]:
upserting_one_res = product_col.update_one({"name": "hat"},{"$set" : {"name" : "hat"}})

In [45]:
print(upserting_one_res.acknowledged)
print(upserting_one_res.matched_count)
print(upserting_one_res.modified_count) 
print(upserting_one_res.raw_result)
print(upserting_one_res.upserted_id)

True
0
0
{'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}
None

In [46]:
upserting_one_res = product_col.update_one({"name": "hat"},{"$set" : {"name" : "hat"}}, upsert = True)

In [47]:
print(upserting_one_res.acknowledged)
print(upserting_one_res.matched_count)
print(upserting_one_res.modified_count) 
print(upserting_one_res.raw_result)
print(upserting_one_res.upserted_id)

True
0
0
{'n': 1, 'upserted': ObjectId('643666b557c01190ac70698e'), 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}
643666b557c01190ac70698e

In [49]:
upserted_product_cursor = product_col.find({'name':"hat"} )

print(print_cursor(upserted_product_cursor))

{'_id': ObjectId('643666b557c01190ac70698e'), 'name': 'hat'}
None

## update operators

#### currentDate operator

In [60]:
update_res = product_col.update_many({},{"$currentDate" : {"Date" : True}})

In [61]:
print(update_res.acknowledged)
print(update_res.matched_count)
print(update_res.modified_count) 
print(update_res.raw_result)
print(update_res.upserted_id)

True
16
16
{'n': 16, 'nModified': 16, 'ok': 1.0, 'updatedExisting': True}
None

In [62]:
upserted_product_cursor = product_col.find({},{"_id":0, 'name':1,"Date":1 })

print(print_cursor(upserted_product_cursor))

{'name': 'Bag', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 886000)}
{'name': 'pen', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 886000)}
{'name': 'pencil', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 886000)}
{'name': 'mug', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'mug', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'mug', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'mug', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'book', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'book', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'book', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'book', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'book', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'book', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'book', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'book', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
{'name': 'hat', 'Date': datetime.datetime(2023, 4, 12, 8, 17, 24, 887000)}
None

In [57]:
update_res = product_col.update_many({},{"$rename" : {"Date" : "date_added"}})

In [82]:
upserted_product_cursor = product_col.find({},{"_id":0, 'name':1,"date_added":1,"Price":1, "price":1 })

print(print_cursor(upserted_product_cursor))

{'name': 'Bag', 'Price': 49.938, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 538000), 'price': 0}
{'name': 'pen', 'price': 50, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 663000)}
{'name': 'pencil', 'price': 20, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'mug', 'price': '5', 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'mug', 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'mug', 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'mug', 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'book', 'price': 5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'book', 'price': 5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'book', 'price': 5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'book', 'price': 5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'book', 'price': 5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'book', 'price': 5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'book', 'price': 5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'book', 'price': 5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'name': 'hat', 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
None

In [88]:
update_res = product_col.update_many({"name": "book"},{"$mul" : {"price":2.1}}) #--> multiply all product price by 2

In [89]:
upserted_product_cursor = product_col.find({"name":"book"},{"_id":1, 'name':1,"date_added":1, "price":1})

print(print_cursor(upserted_product_cursor))

{'_id': ObjectId('64351a57659d3d1eeeb6e4db'), 'name': 'book', 'price': 22.05, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'_id': ObjectId('64351a74659d3d1eeeb6e4dc'), 'name': 'book', 'price': 10.5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'_id': ObjectId('64351a7a659d3d1eeeb6e4dd'), 'name': 'book', 'price': 10.5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'_id': ObjectId('64351aae659d3d1eeeb6e4de'), 'name': 'book', 'price': 10.5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'_id': ObjectId('64351acb659d3d1eeeb6e4df'), 'name': 'book', 'price': 10.5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'_id': ObjectId('64351acf659d3d1eeeb6e4e0'), 'name': 'book', 'price': 10.5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'_id': ObjectId('64351af9659d3d1eeeb6e4e1'), 'name': 'book', 'price': 10.5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
{'_id': ObjectId('64351b0d659d3d1eeeb6e4e2'), 'name': 'book', 'price': 10.5, 'date_added': datetime.datetime(2023, 4, 12, 8, 15, 47, 664000)}
None

In [92]:
update_res = product_col.update_many({},{"$unset" : {"Date" : True}}) # $unset will be remove date column

In [93]:
update_product_cursor = product_col.find({})

print(print_cursor(update_product_cursor))

{'_id': ObjectId('6435159d659d3d1eeeb6e4d4'), 'name': 'Bag', 'Price': 49.938, 'price': 0}
{'_id': ObjectId('6435167b659d3d1eeeb6e4d5'), 'name': 'pen', 'price': 50}
{'_id': ObjectId('6435167b659d3d1eeeb6e4d6'), 'name': 'pencil', 'price': 20}
{'_id': ObjectId('643519e9659d3d1eeeb6e4d7'), 'name': 'mug', 'price': '5'}
{'_id': ObjectId('64351a0e659d3d1eeeb6e4d8'), 'name': 'mug'}
{'_id': ObjectId('64351a32659d3d1eeeb6e4d9'), 'name': 'mug'}
{'_id': ObjectId('64351a39659d3d1eeeb6e4da'), 'name': 'mug'}
{'_id': ObjectId('64351a57659d3d1eeeb6e4db'), 'name': 'book', 'price': 22.05, 'Price': 0.0}
{'_id': ObjectId('64351a74659d3d1eeeb6e4dc'), 'name': 'book', 'price': 10.5}
{'_id': ObjectId('64351a7a659d3d1eeeb6e4dd'), 'name': 'book', 'price': 10.5}
{'_id': ObjectId('64351aae659d3d1eeeb6e4de'), 'name': 'book', 'price': 10.5}
{'_id': ObjectId('64351acb659d3d1eeeb6e4df'), 'name': 'book', 'price': 10.5}
{'_id': ObjectId('64351acf659d3d1eeeb6e4e0'), 'name': 'book', 'price': 10.5}
{'_id': ObjectId('64351af9659d3d1eeeb6e4e1'), 'name': 'book', 'price': 10.5}
{'_id': ObjectId('64351b0d659d3d1eeeb6e4e2'), 'name': 'book', 'price': 10.5}
{'_id': ObjectId('643666b557c01190ac70698e'), 'name': 'hat'}
None